<ion-header>
  <ion-toolbar>
    <ion-img
      style="width: 7%; height: 7%"
      src="../../assets/icon/logo.png"
    ></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid sizeLg="12" sizeMd="12" sizeXs="12">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title class="fw-bold ion-text-center" color="secondary"
              >Mi perfil</ion-card-title
            >
          </ion-card-header>
          <ion-card-content>
            <h1 class="fw-bold ion-text-center">
              Andrea Guadalupe Solórzano Gutierrez
            </h1>
            <br />
            <!-- <ion-icon class="fw-bold ion-text-center" name="at-circle-outline"></ion-icon> -->
            <h2 class="fw-bold ion-text-center">
              andrea.solorzano@yocontigo-it.com
            </h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid sizeLg="12" sizeMd="12" sizeXs="12">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title class="fw-bold ion-text-center" color="secondary"
              >Eventos asistidos</ion-card-title
            >
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Pokémon Yellow</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Mega Man X</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>The Legend of Zelda</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Pac-Man</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Super Mario World</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
