<ion-header> </ion-header>
<ion-content class="ion-padding">
  <ion-grid sizeLg="12" sizeMd="12" sizeXs="12">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <!-- <img alt="Silhouette of mountains" src="../../assets/icon/logo.png" /> -->
            <ion-img src="../../assets/icon/ShadesWlogo.png"></ion-img>

            <br />
            <ion-card-title>Crear tu cuenta</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
              <ion-item lines="full">
                <ion-label position="floating"
                  ><ion-icon name="accessibility-outline"></ion-icon> Nombre
                  *</ion-label
                >
                <ion-input formControlName="nombre" required></ion-input>
                <!-- <span class="error ion-padding" *ngIf="isSubmit && errorControl.contrasena.errors?.required">
                  La contrasena es requerida
                </span> -->
              </ion-item>
              <ion-item lines="full">
                <ion-label position="floating"
                  ><ion-icon name="mail-outline"></ion-icon> Correo *</ion-label
                >
                <ion-input
                  formControlName="correo"
                  type="email"
                  required
                ></ion-input>
                <!-- <span class="error ion-padding" *ngIf="f['correo'].errors['required']">
                El correo es requerido
              </span> -->
                <!-- <span class="error ion-padding" *ngIf="isSubmit && errorControl.correo.errors?.pattern">
                Ingresa un correo valido
              </span> -->
              </ion-item>
              <ion-item lines="full">
                <ion-label position="floating"
                  ><ion-icon name="key-outline"></ion-icon> Contraseña *
                </ion-label>
                <ion-input
                  formControlName="contrasena"
                  type="password"
                  required
                ></ion-input>
                <!-- <span class="error ion-padding" *ngIf="isSubmit && errorControl.contrasena.errors?.required">
                La contrasena es requerida
              </span> -->
              </ion-item>
              <br />
              <ion-row>
                <ion-col>
                  <ion-button
                    shape="round"
                    type="submit"
                    color="primary"
                    expand="block"
                    >Crear cuenta</ion-button
                  >
                  <ion-button
                    shape="round"
                    fill="clear"
                    style="text-align: center"
                    class="ion-no-padding"
                  >
                    <ion-img
                      style="width: 30px"
                      src="../../assets/icon/facebook_3.png"
                    ></ion-img>
                  </ion-button>
                  <ion-button
                    shape="round"
                    fill="clear"
                    style="text-align: center"
                    class="ion-no-padding"
                  >
                    <ion-img
                      style="width: 30px"
                      src="../../assets/icon/google-mas.png"
                    ></ion-img>
                  </ion-button>
                  <br />
                  <a class="small-text" style="color: #ec7607"
                    >Olvidaste tu contraseña?</a
                  >
                </ion-col>
              </ion-row>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
