ion-toolbar {
  --background: #0f0f0f;
}
ion-img {
  display: block;
  margin: 0 auto;
  padding: 0%;
}
ion-button {
  width: 30%;
  display: block;
  margin: 0 auto;
  padding: 0%;
}
ion-grid{
  width: 70%;
}
.col {
  // border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
}
h2{
  padding-left: 10%;
  padding-bottom: 2%;
}
// .col:last-child {
//   border-right: solid 1px grey;
// }

.row:last-child .col {
  border-bottom: solid 1px grey;
  text-align: center;
}
.header .col {
  font-weight: bold;
  text-align: center;
}
