<ion-header>
  <ion-toolbar>
    <ion-img  style="width: 7%; height: 7%" src="../../assets/icon/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<h1 class="fw-bold ion-text-center" style="font-weight: bold;">Carrito de compras</h1>
  <ion-grid>
    <ion-row class="row header">
      <ion-col class="col">#</ion-col>
      <ion-col class="col">Evento</ion-col>
      <ion-col class="col">Cantidad</ion-col>
      <ion-col class="col">Total</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="row">
      <ion-col class="col">1</ion-col>
      <ion-col class="col">Evento todo mexico</ion-col>
      <ion-col class="col">2</ion-col>
      <ion-col class="col">160</ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <br>
  <ion-button color="primary">Comprar</ion-button>

</ion-content>

