circle:hover{
  fill: red;
}
ellipse:hover{
  fill: red;
}
.st0:hover{
  fill:beige;
}
.st1:hover{
  fill: beige;
}
.st2:hover{
  fill: beige;
}
.st3:hover{
  fill: beige;
}
.st4:hover{
  fill: beige;
}
.st5:hover{
  fill: beige;
}