<!-- <ion-header>
  <ion-toolbar>
    <ion-img  style="width: 7%; height: 7%" src="../../assets/icon/logo.png"></ion-img>

    <ion-title>Evento de {{name}}
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-img  class="logo" style="width: 7%; height: 7%" src="../../assets/icon/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col >
        <ion-card>
          <ion-card-header>
            <ion-card-title>Nombre del evento {{name}}</ion-card-title>
            <ion-card-subtitle>Datos del evento {{ubicacion}}
              Fecha {{precio}}
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <div class="swiper-zoom-container" id="main">
              <div #tooltip class="tooltip2"> hola</div>
              <svg  width="100%" height="150%" id="map" viewBox="0, 0, 11240 9680" style="background-image: url(assets/AUDITORIOSOLES_2022.svg);background-repeat: no-repeat; background-size:113%;
              zoom: 100%;height: auto; background-position: left;">
                <g class="seats">
                  <!--a-->
                  <g data-component="svg__block" data-section-name="A" data-section-id="s_39" class="section" transform="" >
                    <rect width="1048" height="520" x= "3534" y="8025" style="fill:rgb(9, 32, 136);stroke-width:3"   [routerLink]='["/section/basket/A"]'/>
                    <text x="3930" y="8400" fill="#fff" font-size = "300px">A</text>
                  </g>
                  <!--a chico, 2 asientos-->
                  <g data-component="svg__block" data-section-name="A" data-section-id="s_39" class="section" transform="" >
                    <rect width="70" height="140" x= "3534" y="7885" style="fill:rgb(9, 32, 136);stroke-width:3"   [routerLink]='["/section/basket/A"]'/>
                  </g>
                  <!--b-->
                  <g data-component="svg__block" data-section-name="B" data-section-id="s_39" class="section" transform="">
                  </g>
                  <!--c grande-->
                  <g data-component="svg__block" data-section-name="C" data-section-id="s_39" class="section" transform="">
                    <rect width="1041" height="1360" x= "3534" y="4870" style="fill:rgb(134, 29, 182);stroke-width:3"   [routerLink]='["/section/basket/C"]'/>
                    <text x="3960" y="5630" fill="#fff" font-size = "300px">C</text>
                  </g>
                  <!--c  chico-->
                  <g data-component="svg__block" data-section-name="C" data-section-id="s_39" class="section" transform="">
                    <rect width="60" height="200" x= "3534" y="4670" style="fill:rgb(134, 29, 182);stroke-width:3"   [routerLink]='["/section/basket/C"]'/>
                  </g>
                  <!--v grande de arriba-->
                  <g data-component="svg__block" data-section-name="V" data-section-id="s_39" class="section" transform="">
                    <rect width="1240" height="1060" x= "10150" y="3120" style="fill:rgb(29, 224, 22);stroke-width:3"   [routerLink]='["/section/basket/V"]'/>
                    <text x="10600" y="3800" fill="#fff" font-size = "300px">V</text>
                  </g>
                  <!--v chica de arriba-->
                  <g data-component="svg__block" data-section-name="V" data-section-id="s_39" class="section" transform="">
                    <rect width="720" height="100" x= "9620" y="4090" style="fill:rgb(29, 224, 22);stroke-width:3"   [routerLink]='["/section/basket/V"]'/>
                  </g>

                  <!--v grande de abajo-->
                  <g data-component="svg__block" data-section-name="V" data-section-id="s_39" class="section" transform="">
                    <rect width="1490" height="1890" x= "9730" y="4340" style="fill:rgb(29, 224, 22);stroke-width:3"   [routerLink]='["/section/basket/V"]'/>
                    <text x="10370" y="5300" fill="#fff" font-size = "300px">V</text>

                  </g> 
                  
                  <!--cs -->
                  <g data-component="svg__block" data-section-name="CS" data-section-id="s_39" class="section" transform="">
                    <rect width="180" height="2060" x= "4790" y="4070" style="fill:rgb(182, 29, 29);stroke-width:3"   [routerLink]='["/section/basket/CS"]'/>
                  </g>

                  <!--bs -->
                  <g data-component="svg__block" data-section-name="BS" data-section-id="s_39" class="section" transform="">
                    <rect width="180" height="2070" x= "4790" y="6420" style="fill:rgb(29, 159, 182);stroke-width:3"   [routerLink]='["/section/basket/BS"]'/>
                  </g>

                  <!--u arriba derecha-->
                  <g data-component="svg__block" data-section-name="U" data-section-id="s_39" class="section" transform="">
                    <rect width="450" height="130" x= "2550" y="4050" style="fill:rgb(253, 249, 12);stroke-width:3"   [routerLink]='["/section/basket/U"]'/>
                  </g>
                  <!--u arriba izquierda, 2 asientos-->
                  <g data-component="svg__block" data-section-name="U" data-section-id="s_39" class="section" transform="">
                    <rect width="50" height="140" x= "1330" y="4200" style="fill:rgb(253, 249, 12);stroke-width:3"   [routerLink]='["/section/basket/U"]'/>
                  </g>
                  <!--u arriba grande-->
                  <g data-component="svg__block" data-section-name="U" data-section-id="s_39" class="section" transform="">
                    <rect width="1116" height="1040" x= "1348" y="3135" style="fill:rgb(253, 249, 12);stroke-width:3"   [routerLink]='["/section/basket/U"]'/>
                    <text x="1800" y="3743" fill="#fff" font-size = "300px">U</text>
                  </g>
                  <!--u abajo grande-->
                  <g data-component="svg__block" data-section-name="U" data-section-id="s_39" class="section" transform="">
                    <rect width="1549" height="1879" x= "1346" y="4343" style="fill:rgb(253, 249, 12);stroke-width:3"   [routerLink]='["/section/basket/U"]'/>
                    <text x="2000" y="5343" fill="#fff" font-size = "300px">U</text>
                  </g>

                  <g data-component="svg__block" data-section-name="C" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="D" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="E" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="F" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="G" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="H" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="I" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="J" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="K" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="L" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="M" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="N" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="O" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="P" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="Q" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="R" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="S" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="T" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="U" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="V" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="W" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="X" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="Y" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="Z" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="CS" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="BS" data-section-id="s_39" class="section" transform="">
                  </g>
              </g>
              </svg>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <ion-list>
          <ion-item>
            <ion-label>Boletos #</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Precio</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Total</ion-label>
          </ion-item>

        </ion-list>
        <ion-button color="primary">Comprar</ion-button>

      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
