ion-toolbar {
  --background: #0f0f0f;
}
.logo {
  display: block;
  margin: 0 auto;
  padding: 0%;
}
ion-card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 2%;

}
.tooltip {
  display: none;
  position: absolute;
  font-size: 0.75em;
  background-color: white;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 2px;
}
.tooltip2 {
  display: none;
  position: absolute;
  font-size: 0.75em;
  background-color: white;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 2px;
}
// ion-slides  {
//   margin: 0;
//   overflow: hidden;
//   height: 100%;
//   width: auto;
// }
@import '~bootstrap/dist/css/bootstrap.min.css';    


