<!-- <ion-header>
  <ion-toolbar>
    <ion-img  style="width: 7%; height: 7%" src="../../assets/icon/logo.png"></ion-img>

    <ion-title>Evento de {{name}}
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-img  class="logo" style="width: 7%; height: 7%" src="../../assets/icon/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col >
        <ion-card>
          <ion-card-header>
            <ion-card-title>Nombre del evento {{name}}</ion-card-title>
            <ion-card-subtitle>Datos del evento {{ubicacion}}
              Fecha {{precio}}
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <div class="swiper-zoom-container" id="main">
              <div #tooltip class="tooltip2"> hola</div>
              <svg  width="100%" height="150%" id="map" viewBox="0, 0, 11240 9680" style="background-image: url(assets/AUDITORIOSOLES_2022.svg);background-repeat: no-repeat; background-size:113%;
              zoom: 100%;height: auto; background-position: left;">
                <g class="seats">
                  <!--a-->
                  <g data-component="svg__block" data-section-name="A" data-section-id="s_39" class="section" transform="" >
                    <rect width="741" height="380" x= "2534" y="5800" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <rect width="50" height="100" x= "2534" y="5700" style="fill:rgb(29, 121, 182);stroke-width:3" [routerLink]='["/section/basket/A"]'/>
                    <text x="2900" y="6000" fill="black" font-size = "100px">A</text>
                  </g>
                  <!--b-->
                  <g data-component="svg__block" data-section-name="B" data-section-id="s_39" class="section" transform="">
                    <rect width="741" height="380" x= "2534" y="5500" style="fill:rgb(29, 121, 182);stroke-width:3"   [routerLink]='["/section/basket/A"]'/>
                    <rect width="50" height="100" x= "2534" y="5700" style="fill:rgb(29, 121, 182);stroke-width:3" [routerLink]='["/section/basket/A"]'/>
                  </g>
                  <!--c grande-->
                  <g data-component="svg__block" data-section-name="C" data-section-id="s_39" class="section" transform="">
                    <rect width="1041" height="1360" x= "3534" y="4870" style="fill:rgb(134, 29, 182);stroke-width:3"   [routerLink]='["/section/basket/C"]'/>
                    <text x="3960" y="5630" fill="#fff" font-size = "300px">C</text>
                  </g>
                  <!--c  chico-->
                  <g data-component="svg__block" data-section-name="C" data-section-id="s_39" class="section" transform="">
                    <rect width="60" height="200" x= "3534" y="4670" style="fill:rgb(134, 29, 182);stroke-width:3"   [routerLink]='["/section/basket/C"]'/>
                  </g>
                  <!--v grande de arriba-->
                  <g data-component="svg__block" data-section-name="C" data-section-id="s_39" class="section" transform="">
                    <rect width="1240" height="1060" x= "10150" y="3120" style="fill:rgb(29, 224, 22);stroke-width:3"   [routerLink]='["/section/basket/C"]'/>
                    <text x="5560" y="5630" fill="#fff" font-size = "300px">Vaaaaaaaaaaaaaaaa</text>
                  </g>
                  <!--v chica de arriba-->


                  <!--v grande de abajo-->


                
                  <g data-component="svg__block" data-section-name="C" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="D" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="E" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="F" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="G" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="H" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="I" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="J" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="K" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="L" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="M" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="N" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="O" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="P" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="Q" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="R" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="S" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="T" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="U" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="V" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="W" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="X" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="Y" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="Z" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="CS" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="BS" data-section-id="s_39" class="section" transform="">
                  </g>
              </g>
              </svg>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <ion-list>
          <ion-item>
            <ion-label>Boletos #</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Precio</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Total</ion-label>
          </ion-item>

        </ion-list>
        <ion-button color="primary">Comprar</ion-button>

      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
