<!-- <ion-header>
  <ion-toolbar>
    <ion-img  style="width: 7%; height: 7%" src="../../assets/icon/logo.png"></ion-img>

    <ion-title>Evento de {{name}}
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-img  class="logo" style="width: 7%; height: 7%" src="../../assets/icon/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col >
        <ion-card>
          <ion-card-header>
            <ion-card-title>Nombre del evento {{name}}</ion-card-title>
            <ion-card-subtitle>Datos del evento {{ubicacion}}
              Fecha {{precio}}
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <div class="swiper-zoom-container" id="main">
              <div #tooltip class="tooltip2"> hola</div>
              <svg  width="100%" height="150%" id="map" viewBox="0, 0, 11240 9680" style="background-image: url(assets/AUDITORIOSOLES_2022.svg);background-repeat: no-repeat; background-size:113%;
              zoom: 100%;height: auto; background-position: left;">
                <g class="seats">
                  <!--a-->
                  <g data-component="svg__block" data-section-name="A" data-section-id="s_39" class="section" transform="" >
                    <rect width="741" height="380" x= "2534" y="5800" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <rect width="50" height="100" x= "2534" y="5700" style="fill:rgb(29, 121, 182);stroke-width:3" [routerLink]='["/section/basket/A"]'/>
                    <text x="2900" y="6000" fill="black" font-size = "100px">A</text>
                  </g>
                  <!--b-->
                  <g data-component="svg__block" data-section-name="B" data-section-id="s_39" class="section" transform="">
                    <rect width="741" height="380" x= "2534" y="5500" style="fill:rgb(29, 121, 182);stroke-width:3"   [routerLink]='["/section/basket/A"]'/>
                    <rect width="50" height="100" x= "2534" y="5700" style="fill:rgb(29, 121, 182);stroke-width:3" [routerLink]='["/section/basket/A"]'/>
                  </g>
                  <!--c grande-->
                  <g data-component="svg__block" data-section-name="C" data-section-id="s_39" class="section" transform="">
                    <rect width="1041" height="1360" x= "3534" y="4870" style="fill:rgb(134, 29, 182);stroke-width:3"   [routerLink]='["/section/basket/C"]'/>
                    <text x="3960" y="5630" fill="#fff" font-size = "300px">C</text>
                  </g>
                  <!--c  chico-->
                  <g data-component="svg__block" data-section-name="C" data-section-id="s_39" class="section" transform="">
                    <rect width="60" height="200" x= "3534" y="4670" style="fill:rgb(134, 29, 182);stroke-width:3"   [routerLink]='["/section/basket/C"]'/>
                  </g>
                  <!--v grande de arriba-->
                  <g data-component="svg__block" data-section-name="C" data-section-id="s_39" class="section" transform="">
                    <rect width="1240" height="1060" x= "10150" y="3120" style="fill:rgb(29, 224, 22);stroke-width:3"   [routerLink]='["/section/basket/C"]'/>
                    <text x="5560" y="5630" fill="#fff" font-size = "300px">Vaaaaaaaaaaaaaaaa</text>
                  </g>
                  <!--v chica de arriba-->


                  <!--v grande de abajo-->


                
                  <g data-component="svg__block" data-section-name="C" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="D" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="E" data-section-id="s_39" class="section" transform="">
                    <rect  width="1415" height="586" x= "4556" y="3158" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <text x="5100" y="3558" fill="#fff" font-size = "100px">E</text>
                  </g>
                  <g data-component="svg__block" data-section-name="F" data-section-id="s_39" class="section" transform="">
                    <rect  width="1415" height="586" x= "6753" y="3158" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <text x="7350" y="3558" fill="#fff" font-size = "100px">F</text>
                  </g>

                  <g data-component="svg__block" data-section-name="G" data-section-id="s_39" class="section" transform="">
                    <rect  width="1011" height="513" x= "8092" y="4062" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <text x="8465" y="4410" fill="#fff" font-size = "100px">G</text>
                  </g>

                  <g data-component="svg__block" data-section-name="H" data-section-id="s_39" class="section" transform="">
                    <rect  width="1020" height="1345" x= "8092" y="4805" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <text x="8465" y="5505" fill="#fff" font-size = "100px">H</text>
                  </g>
                  <g data-component="svg__block" data-section-name="I" data-section-id="s_39" class="section" transform="">
                    <rect  width="1020" height="1345" x= "8092" y="6381" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <text x="8500" y="7150" fill="#fff" font-size = "100px">I</text>
                  </g>
                  <g data-component="svg__block" data-section-name="J" data-section-id="s_39" class="section" transform="">
                    <rect  width="1020" height="586" x= "8092" y="7964" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <text x="8500" y="8358" fill="#fff" font-size = "100px">J</text>
                  </g>
                  <g data-component="svg__block" data-section-name="K" data-section-id="s_39" class="section" transform="">
                  <rect  width="336" height="370" x= "7730" y="8922" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <text x="7792" y="9198" fill="#fff" font-size = "100px">K</text>
                  </g>
                  <g data-component="svg__block" data-section-name="L" data-section-id="s_39" class="section" transform="">
                    <rect  width="336" height="370" x= "7379" y="8922" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <text x="7441" y="9198" fill="#fff" font-size = "100px">L</text>
                  </g>

                  <g data-component="svg__block" data-section-name="M" data-section-id="s_39" class="section" transform="">
                    <rect  width="336" height="370" x= "7028" y="8922" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <text x="7090" y="9198" fill="#fff" font-size = "100px">N</text>
                  </g>

                  <g data-component="svg__block" data-section-name="N" data-section-id="s_39" class="section" transform="">
                    <rect  width="336" height="370" x= "6677" y="8922" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <text x="6739" y="9198" fill="#fff" font-size = "100px">N</text>
                  </g>

                  <g data-component="svg__block" data-section-name="O" data-section-id="s_39" class="section" transform="">
                    <rect  width="336" height="370" x= "5663" y="8922" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <text x="5737" y="9198" fill="#fff" font-size = "100px">O</text>
                  </g>

                  <g data-component="svg__block" data-section-name="P" data-section-id="s_39" class="section" transform="">
                    <rect  width="336" height="370" x= "5312" y="8922" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <text x="5386" y="9198" fill="#fff" font-size = "100px">P</text>
                  </g>

                  <g data-component="svg__block" data-section-name="Q" data-section-id="s_39" class="section" transform="">
                    <rect  width="336" height="370" x= "4961" y="8922" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <text x="5035" y="9198" fill="#fff" font-size = "100px">Q</text>
                  </g>
                  <g data-component="svg__block" data-section-name="R" data-section-id="s_39" class="section" transform="">
                    <rect  width="336" height="370" x= "4610" y="8922" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <text x="4684" y="9198" fill="#fff" font-size = "100px">R</text>
                  </g>
                  <g data-component="svg__block" data-section-name="S" data-section-id="s_39" class="section" transform="">
                    <rect  width="515" height="180" x= "4893" y="3759" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <text x="5033" y="3867" fill="#fff" font-size = "100px">S</text>
                  </g>

                  <g data-component="svg__block" data-section-name="T" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="U" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="V" data-section-id="s_39" class="section" transform="">
                  </g>
                  <g data-component="svg__block" data-section-name="W" data-section-id="s_39" class="section" transform="">
                    <rect  width="1478" height="1893" x= "9737" y="6381" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <rect  width="564" height="163" x= "9625" y="8400" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <rect  width="1064" height="1175" x= "10151" y="8400" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <text x="10300" y="7150" fill="#fff" font-size = "100px">W</text>
                  </g>
                  <g data-component="svg__block" data-section-name="X" data-section-id="s_39" class="section" transform="">
                    <rect  width="361" height="180" x= "5427" y="3759" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <text x="5550" y="3867" fill="#fff" font-size = "100px">X</text>
                  </g>

                  <g data-component="svg__block" data-section-name="Y" data-section-id="s_39" class="section" transform="">
                    <rect  width="361" height="180" x= "6845" y="3759" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <text x="6950" y="3867" fill="#fff" font-size = "100px">Y</text>
                  </g>

                  <g data-component="svg__block" data-section-name="Z" data-section-id="s_39" class="section" transform="">
                    <rect  width="361" height="180" x= "7222" y="3759" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <text x="7350" y="3867" fill="#fff" font-size = "100px">Z</text>
                  </g>

                  <g data-component="svg__block" data-section-name="CS" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="BS" data-section-id="s_39" class="section" transform="">
                  </g>

                  <g data-component="svg__block" data-section-name="General" data-section-id="s_39" class="section" transform="">
                    <rect  width="864" height="1137" x= "3333" y="778" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <rect  width="346" height="371" x= "3813" y="1969" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <rect  width="1879" height="1586" x= "4365" y="778" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <rect  width="864" height="1137" x= "8433" y="778" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <rect  width="1879" height="1586" x= "6400" y="778" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    <rect  width="346" height="371" x= "8441" y="1969" style="fill:rgb(29, 121, 182);stroke-width:3" (click)="openSection(1)"   [routerLink]='["/section/basket/A"]'/>
                    
                    
                    
                    <text x="5094" y="1557" fill="#fff" font-size = "100px">General</text>
                  </g>
              </g>
              </svg>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <ion-list>
          <ion-item>
            <ion-label>Boletos #</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Precio</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Total</ion-label>
          </ion-item>

        </ion-list>
        <ion-button color="primary">Comprar</ion-button>

      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
