<ion-header> </ion-header>
<ion-content class="ion-padding">
  <ion-grid sizeLg="12" sizeMd="12" sizeXs="12">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header position="absolute">
            <ion-img src="../../assets/icon/bienvenidoShades2.png"></ion-img>

            <br />
            <br />

            <ion-card-title>Bienvenido</ion-card-title>
          </ion-card-header>
          <ion-img
            style="width: 30%"
            src="../../assets/icon/boleto (2).png"
          ></ion-img>

          <ion-card-content>
            <form novalidate>
              <span
                >Comienza con tu cuenta para comprar tus boletos para tu
                concierto</span
              >
              <br />
              <br />
              <br />
              <ion-row>
                <ion-col>
                  <ion-button
                    type="submit"
                    fill="outline"
                    color="primary"
                    shape="round"
                  >
                    Sign in</ion-button
                  >

                  <ion-button type="submit" color="primary" shape="round"
                    >Login</ion-button
                  >
                  <br />
                  <br />
                  <br />
                  <a class="small-text" style="color: #ec7607"
                    >Logueate con tu red preferida</a
                  >
                  <br />
                  <ion-button
                    shape="round"
                    fill="clear"
                    style="text-align: center"
                    class="ion-no-padding"
                  >
                    <ion-img
                      style="width: 30px"
                      src="../../assets/icon/facebook_3.png"
                    ></ion-img>
                  </ion-button>
                  <ion-button
                    shape="round"
                    fill="clear"
                    style="text-align: center"
                    class="ion-no-padding"
                  >
                    <ion-img
                      style="width: 30px"
                      src="../../assets/icon/google-mas.png"
                    ></ion-img>
                  </ion-button>
                </ion-col>
              </ion-row>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
